{% extends 'base.html' %} {% load static %} 

{% block title %}
Details
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/shares/share-detail.css' %}" />
{% endblock %} 

{% block content %}
<section class="share-container">
    <div class="share-actions">
        <a href="{% url 'share-index' %}" class="btn">Back to Shares</a>
    </div>
    <div class="share-details">
        <h2> {{ share.title }} </h2>
    <div class="share-metrics">
        <p> Total Fares: {{ total_fares }} </p>
        <p> My Expenses: {{share.get_currency_display|slice:':1'}}{{ my_expenses }} </p>
        <p> Total Expenses: {{share.get_currency_display|slice:':1'}}{{ total_expenses }} </p>
    </div>
        <p> {{ share.get_currency_display}} </p>
        <p> {{ share.created_at|date:"F Y" }} </p>

        <h3> Participant Balances </h3>
            <ul>
            {% for balance in balances %}
                <li>
                    {{ balance.participant.username}}:  
                    {% if balance.net < 0 %}
                        -{{share.get_currency_display|slice:':1'}}{{ balance.net|slice:"1": }} 
                    {% else %}
                        {{share.get_currency_display|slice:':1'}}{{ balance.net }} 
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
    
        <div class="share-actions">
          {% if share.creator == request.user %}
            <a href="{% url 'share-update' share.id %}" class="btn warn">Edit</a>
            <a href="{% url 'share-delete' share.id %}" class="btn danger">Delete</a>
          {% endif %}
        </div>
    </div>
</section>

<section class="fares">
    
    <a href="{% url 'fare-create' share.id %}" class="btn">Add Fare</a>
    
    <div class="subsection-title">
      <h2>Fares</h2>
    </div>
    <div class="fare-container">
    {% if share.fare_set.all.count %}
        <div class="fare">
        <table>
        <tbody>
            {% for fare in share.fare_set.all %}
            
            <tr>
                <td>{{fare.get_category_display|slice:'-2:'}}</td>
                <td>{{fare.name}}</td>
                <td>Paid by: {{fare.paid_by}}</td>   
                <td>{{share.get_currency_display|slice:':1'}}{{fare.amount}}
                <td><a href="{% url 'fare-detail' share.id fare.id %}">Details</td>
            </tr>
            </a>
            {% endfor %}  
        </div>
        </tbody>
        </table>
    </div>
    {% else %}
    <h3> No fares added yet! </h3>
    {% endif %}
</section>

{% endblock %} 