{% extends 'base.html' %} {% load static %} 

{% block title %}
Details
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/shares/share-detail.css' %}" />
{% endblock %} 

{% block content %}

<section class="fares">
    <div class="fare-actions">
        <a href="{% url 'share-detail' fare.share.id %}" class="btn">Back to {{fare.share.title}} Share</a>
    </div>
    
    <div class="subsection-title">
      <h2>{{fare.get_category_display|slice:'-2:'}} {{fare.name}}</h2>
      <h3> {{fare.date}} </h3>
    </div>
    
    <p>Paid by: {{fare.paid_by}}</p>   
    <p>{{fare.share.get_currency_display|slice:':1'}} {{fare.amount}} </p>
    <h3> Split Between </h3>
    <ul>
        {% for split in fare.split_between.all %}
            <li>
                {{ split.username}}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'fare-update' fare.share.id fare.id %}" class="btn warn">Edit</a>
    <a href="{% url 'fare-delete' fare.share.id fare.id %}" class="btn warn">Delete</a>

</section>

{% endblock %} 