{% extends 'base.html' %} {% load static %} 

{% block title %}
    FareShare - {% if fare %} Edit {% else %} Add {% endif %} Fare
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 

{% block content %}

<div class="page-header">
  {% if fare %}
  <h1> Edit {{fare.name}} Fare</h1>
  <a href="{% url 'fare-detail' view.kwargs.share_id fare.id %}" class="btn">Back to Fare</a>
  {% else %}
  <h1>Add Fare</h1>
  <a href="{% url 'share-detail' pk=view.kwargs.share_id %}" class="btn">Back to Share</a>
  {% endif %}
  
  
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}