{% extends 'base.html' %} {% load static %} 

{% block title %}
    FareShare
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} 

{% block content %}
<section class="hero">
  <div class="logo-container">
    <div class="share-container">
      <img src="{% static 'images/Logo.svg' %}" alt="FareShare Logo" />
    </div>
  </div>

  <h1 class="tagline">
    <span>Fairly</span> Share Every <span>Fare</span>
  </h1>
  <p class="subtagline">Split costs, not friendships</p>
</section>

<section class="home-metrics">
  <div class="metric card">
    <div class="metric-value">{{ total_shares }}</div>
    <div class="metric-label">Total Shares</div>
  </div>

  <div class="metric card">
    <div class="metric-value">{{ total_fares }}</div>
    <div class="metric-label">Total Fares</div>
  </div>

  <div class="metric card">
    <div class="metric-value currency">{{ total_expenses }}</div>
    <div class="metric-label">Total Expenses</div>
  </div>
</section>
{% endblock %}